<!DOCTYPE html>
<html lang="it">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8">
    <!-- to be responsive to mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-png" href="/img/logo.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Icons -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS personalizzato -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- bootstap scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/script.js"></script>
</head>

<body ng-app="appStudente" ng-controller="controllerStudente">
    <div class="panel">
        <div class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="form-group" align="center">
                    <label class="col-sm-12">
                        <h2 class="text-center 
                         text-capitalize">Appelli prenotati</h2><hr/>
                    </label>
                </div>
                <% if (prenotazioni.length > 0) { %>
                    <div>
                        <table class="table table-bordered">
                            <tr>
                                <th> </th>
                                <th>Corso: </th>
                                <th>Data: </th>
                                <th>Ora: </th>
                                <th>Chiusura Appello:</th>
                                <th>Matricola Docente: </th>
                                <th>Aula: </th>
                                <th>N. Iscritti: </th>
                                <th>Controlla Esito: </th>
                            </tr>
                            <% for(var i=0; i < prenotazioni.length; i++) { %>
                                <tr>
                                    <td class="col-md-1 text-center">
                                        <form action="/paginaStudente/vediPrenotazioni/cancellaPrenotazione" method="POST" onsubmit="cancellaPrenotazione()">
                                            <button type="submit" class="btn btn-link" title="Cancella Prenotazione">
                                                <i class="fa fa-times fa-lg" aria-hidden="true" style="color: red"></i>
                                            </button>
                                            <input hidden name="idAppello" value="<%= prenotazioni[i]._id %>">
                                        </form>
                                    </td>
                                    <td class="col-md-1">
                                        <%= prenotazioni[i].idCorso %>
                                    </td>
                                    <td class="col-md-1">
                                        <%= prenotazioni[i].data %>
                                    </td>
                                    <td class="col-md-1">
                                        <%= prenotazioni[i].ora %>
                                    </td>
                                    <td class="col-md-1">
                                        <%= prenotazioni[i].matricolaP %>
                                    </td>
                                    <td class="col-md-1">
                                         
                                        </td>
                                    <td class="col-md-1">
                                        <%= prenotazioni[i].aula %>
                                    </td>
                                    <td class="col-md-1">
                                        <%= prenotazioni[i].matricolaS.length %>
                                    </td>
                                    <td class="col-md-1">
                                        <form method="POST" action="/paginaStudente/vediPrenotazioni/controllaEsiti">
                                            <input hidden type="text" name="idAppello" value="<%= prenotazioni[i]._id %>" readonly>
                                            <button type="submit" title="Controlla Esiti" class="btn btn-link"><i class="fa fa-spinner fa-lg" aria-hidden="true"></i></button>
                                        </form>
                                    </td>
                                </tr>
                                <% } %>
                        </table>
                    </div>
                    <div>
                        <form method="POST" action="/paginaStudente/vediPrenotazioni/confermaVoto">
                            <label> Corso </label>
                            <input name="idCorsoAppello" value="<%= idCorsoAppello %>" readonly>
                            <label> Data Esame </label>
                            <input name="dataAppello" value="<%= dataAppello %>" readonly>
                            <label> Esito </label>
                            <input name="myEsito" value="<%= myEsito %>" readonly="readonly" type="number" id="esito">
                            <button type="submit" title="Conferma e Verbalizza Online il voto!" class="btn btn-info btn-md" onmouseover="conferma()"
                                id="conf"> Conferma </button>
                            <p><strong> *nel caso si voglia rifiutare il voto, cancellarsi dalla prenotazione</strong></p>
                        </form>
                    </div>
                    <% } else { %>
                        <div class="col-md-offset-1">
                            <h5 class="text-danger">Nessuna prenotazione</h5>
                            <% } %>
                        </div>
            </div>

            <form action="/paginaStudente" method="GET">
                <div class="col-md-offset-1">
                    <button type="submit" class="btn btn-default" style="background-color: rgb(156, 202, 230)"><strong> << Indietro </strong></button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>