<!DOCTYPE html>
<html lang="it">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8">
    <!-- to be responsive to mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-png" href="img/logo.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Icons -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS personalizzato -->
    <link rel="stylesheet" href="css/style.css">
    <!-- bootstap scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/angular.js"></script>
</head>

<body ng-app="appAdmin" ng-controller="controllerAdmin">
    <div class="contanier">
        <div class="row ">
            <div class="col-lg-12">
                <div class="col-xs-12 col-sm-8">
                    <h3 class="text-center">Welcome
                        <%= user.nome %>.</h3>
                    <figure>
                        <img class="img-circle img-responsive" type="image/x-png" href="img/amministratore.png">
                    </figure>
                    <div class="col-xs-12 col-sm-8">
                        <ul class="list-group">
                            <li class="list-group-item">Username:
                                <%= user.username %>
                            </li>
                            <li class="list-group-item">Email:
                                <%= user.email %>
                            </li>
                            <li class="list-group-item">Nome:
                                <%= user.nome %>
                            </li>
                            <li class="list-group-item">Cognome:
                                <%= user.cognome %>
                            </li>
                            <li class="list-group-item">Matricola:
                                <%= user.matricola %>
                            </li>
                        </ul>
                    </div>
                    <a href="/logout" class="btn btn-lg btn-danger btn-block">Log Out</a>
                    <button type="button" ng-click="ShowHide1()" class="btn btn-lg btn-info btn-block"> {{activityC}} Corsi </button>
                    <button type="button" ng-click="ShowHide2()" class="btn btn-lg btn-success btn-block"> {{activityD}} Docenti </button>
                </div>
            </div>
        </div>



        <div class="row" ng-show="IsVisible1">
            <div class="row">
                <% if (tuoiCorsi.length > 0) { %>
                    <h4 class="text-center">Piano studi
                        <%= user.codFacoltà %>
                    </h4>
                    <div class="row">
                        <h5 class="col-md-3">Nome:</h5>
                        <h5 class="col-md-3">Codice:</h5>
                        <h5 class="col-md-3">Matricola Docente:</h5>
                        <h5 class="col-md-2">CFU:</h5>
                        <h5 class="col-md-1">Anno:</h5>
                    </div>
                    <% for(var i=0; i < tuoiCorsi.length; i++) { %>
                        <div class="col-md-3">
                            <p>
                                <%= tuoiCorsi[i].nome %>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p>
                                <%= tuoiCorsi[i].codice %>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p>
                                <%= tuoiCorsi[i].matricolaP %>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p>
                                <%= tuoiCorsi[i].cfu %>
                            </p>
                        </div>
                        <div class="col-md-1 text-center">
                            <p>
                                <%= tuoiCorsi[i].anno %>
                            </p>
                        </div>
                        <% } %>
                            <% } %>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4 class="text-center">Crea corso</h4>
                    <div>
                        <form action="/paginaAmministratore" method="POST">
                            <input type="text" name="nome" placeholder="nome" required="required" class="form-control" />
                            <input type="text" name="codice" placeholder="codice corso" required="required" class="form-control" />
                            <select ng-model="prof" class="form-control">  
                                        <option value="" disabled selected hidden>Docente</option>
                                        <% docentiFacoltà.forEach(function(prof){%>
                                            <option value=<%=prof.matricola%>> <%= prof.nome %>  <%= prof.cognome %></option>
                                        <% })%>
                                </select>
                            <input readonly value="{{prof}}" type="text" name="matricolaP" placeholder="matricola professore" required="required" class="form-control"
                            />
                            <input type="number" name="cfu" placeholder="cfu" required="required" class="form-control" min="3" max="12" />
                            <input type="number" name="anno" placeholder="anno" required="required" class="form-control" min="1" max="3" />
                            <button type="submit" class="btn btn-lg btn-success btn-block" ng-show="IsVisible1">OK</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">Modifica corso
                    </h4>
                    <div>
                        <div>
                            <label>Corso da modificare:</label>
                            <select ng-model="corso" class="form-control">
                                <% tuoiCorsi.forEach(function(tuoiCorsi){%>
                                    <option value=<%=tuoiCorsi.codice%>> <%= tuoiCorsi.nome %></option>
                                <% })%>
                                    </select>
                            <form action="/paginaAmministratore/update" method="POST">
                                <input readonly type="text" name="codice" placeholder="codice" required="required" class="form-control" value="{{corso}}"
                                />
                                <select ng-model="profM" class="form-control">  
                                        <option value="" disabled selected hidden>Docente</option>
                                        <% docentiFacoltà.forEach(function(prof){%>
                                            <option value=<%=prof.matricola%>> <%= prof.nome %>  <%= prof.cognome %></option>
                                        <% })%>
                                </select>
                                <input readonly value="{{profM}}" type="text" name="matricolaP" placeholder="matricola professore" required="required" class="form-control"
                                />
                                <input type="number" name="cfu" placeholder="cfu" required="required" class="form-control" min="3" max="12" />
                                <input type="number" name="anno" placeholder="anno" required="required" class="form-control" min="1" max="3" />
                                <button type="submit" class="btn btn-lg btn-success btn-block" name="updateB" ng-show="IsVisible1">OK</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">Rimuovi corso </h4>
                    <div>
                        <label>Corso da rimuovere:</label>
                        <form action="/paginaAmministratore/remove" method="POST">
                            <select ng-model="corsoR" class="form-control">
                                    <% tuoiCorsi.forEach(function(tuoiCorsi){%>
                                        <option value=<%=tuoiCorsi.codice%>> <%= tuoiCorsi.nome %></option>
                                    <% })%>
                            </select>
                            <input type="hidden" name="codice" placeholder="codice" value="{{corsoR}}" />
                            <button type="submit" class="btn btn-lg btn-success btn-block" name="removeB">OK</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="IsVisible2">
            <div class="row">
                <% if (docentiFacoltà.length > 0) { %>
                    <h4 class="text-center">Docenti:
                        <%= user.codFacoltà %>
                    </h4>
                    <div class="row">
                        <h5 class="col-md-3">Nome:</h5>
                        <h5 class="col-md-3">Cognome:</h5>
                        <h5 class="col-md-3">Matricola Docente:</h5>
                        <h5 class="col-md-2">Email:</h5>
                        <h5 class="col-md-1">Username:</h5>
                    </div>
                    <% for(var i=0; i < docentiFacoltà.length; i++) { %>
                        <div class="col-md-3">
                            <p>
                                <%= docentiFacoltà[i].nome %>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p>
                                <%= docentiFacoltà[i].cognome %>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p>
                                <%= docentiFacoltà[i].matricola %>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p>
                                <%= docentiFacoltà[i].email %>
                            </p>
                        </div>
                        <div class="col-md-1 text-center">
                            <p>
                                <%= docentiFacoltà[i].username %>
                            </p>
                        </div>
                        <% } %>
                            <% } %>
            </div>
            <div class="row">
                <div>
                    <h4 class="text-center">Registra Nuovo Docente</h4>
                    <div>
                        <% if (message) { %>
                            <div>
                                <h5 class="text-center text-danger">
                                    <%= message %>
                                </h5>
                            </div>
                            <% } %>
                                <form action="/paginaAmministratore/registrazioneDocente" method="POST">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label>Nome</label>
                                                <input name="nome" type="text" class="form-control" required="required">                                                </div>
                                            <div class="col-sm-6 form-group">
                                                <label>Cognome</label>
                                                <input name="cognome" type="text" class="form-control" required="required">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label>Username</label>
                                                <input placeholder="nome.cognome" name="username" type="text" class="form-control" required="required">
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label>Password (temporanea)</label>
                                                <input name="password" type="password" class="form-control" required="required">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label>Data Nascita</label>
                                                <input name="dataDiNascita" type="date" class="form-control" required="required">
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label>Cellulare</label>
                                                <input name="telefono" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Corso di Laurea</label>
                                            <input name="codFacoltà" type="text" class="form-control" required="required" readonly value="<%= user.codFacoltà %>">
                                        </div>
                                        <button type="submit" class="btn btn-lg btn-info">Invia</button>
                                    </div>
                                </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <h4 class="text-center">Registra Nuovo Studente</h4>
                    <div>
                        <% if (message) { %>
                            <div>
                                <h5 class="text-center text-danger">
                                    <%= message %>
                                </h5>
                            </div>
                            <% } %>
                                <form action="/paginaAmministratore/registrazioneStudente" method="POST">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label>Nome</label>
                                                <input name="nome" type="text" class="form-control" required="required">                                                </div>
                                            <div class="col-sm-6 form-group">
                                                <label>Cognome</label>
                                                <input name="cognome" type="text" class="form-control" required="required">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label>Username</label>
                                                <input placeholder="nome.cognome" name="username" type="text" class="form-control" required="required">
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label>Password</label>
                                                <input name="password" type="password" class="form-control" required="required">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label>Data Nascita</label>
                                                <input name="dataDiNascita" type="date" class="form-control" required="required">
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label>Cellulare</label>
                                                <input name="telefono" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Corso di Laurea</label>
                                            <input name="codFacoltà" type="text" class="form-control" required="required" readonly value="<%= user.codFacoltà %>">
                                        </div>
                                        <button type="submit" class="btn btn-lg btn-info">Invia</button>
                                    </div>
                                </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>