<!DOCTYPE html>
<html lang="it">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8">
    <!-- to be responsive to mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-png" href="img/logo.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Icons -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS personalizzato -->
    <link rel="stylesheet" href="css/style.css">
    <!-- bootstap scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/script.js"></script>
</head>

<body ng-app="appAdmin" ng-controller="controllerAdmin">
    <div class="tabbable tabs-left col-md-2 col-xs-6">
        <ul class="nav nav-tabs" id="menu">
            <li> <a href="/"><img class="img-responsive" src="img/logo.png" ></a></li>
            <li class="active"><a href="#1" data-toggle="tab">Home</a></li>
            <li><a href="#2" data-toggle="tab">Corsi</a></li>
            <li><a href="#3" data-toggle="tab">Gestione Corsi</a></li>
            <li><a href="#4" data-toggle="tab">Docenti</a></li>
            <li><a href="#5" data-toggle="tab">Gestione Docenti</a></li>
            <li><a href="#6" data-toggle="tab">Gestione CFU Studenti</a></li>
            <li><a href="/logout" class="btn btn-primary btn-md" style="background-color: rgb(156, 202, 230)">Log Out</a></li>
        </ul>
    </div>
    <br>
    <br>
    <div class="tab-content col-md-10 col-xs-12">
        <div id="1" class="tab-pane active">
            <div class="col-sm-6 col-md-4 col-md-offset-4" id="backgroundBenvenuto">
                <div>
                    <h1 class="text-center text-capitalize">Benvenuto
                        <strong><%= user.nome %>!</strong></h1>
                    <hr/>
                    <div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><strong> Nome: </strong>
                                <%= user.nome %>
                            </li>
                            <li class="list-group-item"><strong> Cognome:</strong>
                                <%= user.cognome %>
                            </li>
                            <li class="list-group-item"><strong>Matricola:</strong>
                                <%= user.matricola %>
                            </li>
                            <li class="list-group-item"><strong>Username:</strong>
                                <%= user.username %>
                            </li>
                            <li class="list-group-item"><strong>Email:</strong>
                                <%= user.email %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="2" class="tab-pane">
            <% if (tuoiCorsi.length > 0) { %>
                <h2 class="text-center  text-capitalize">Piano studi:
                    <%= user.codFacoltà %>
                </h2>
                <hr/>
                <table class="table marginTop table-bordered">
                    <tr>
                        <th class="col-md-3  text-capitalize">Nome:</th>
                        <th class="col-md-2  text-capitalize">Codice:</th>
                        <th class="col-md-2  text-capitalize">Matricola Docente:</th>
                        <th class="col-md-2  text-capitalize">CFU:</th>
                        <th class="col-md-2  text-capitalize">Anno:</th>
                    </tr>
                    <% for(var i=0; i < tuoiCorsi.length; i++) { %>
                        <tr>
                            <td>
                                <%= tuoiCorsi[i].nome %>
                            </td>
                            <td>
                                <%= tuoiCorsi[i].codice %>
                            </td>
                            <td>
                                <%= tuoiCorsi[i].matricolaP %>
                            </td>
                            <td>
                                <%= tuoiCorsi[i].cfu %>
                            </td>
                            <td>
                                <%= tuoiCorsi[i].anno %>
                            </td>
                        </tr>
                        <% } %>
                            <% } %>
                </table>
        </div>
        <div id="3" class="tab-pane">
            <div class="row marginTop">
                <div class="col-md-4">
                    <h3 class="text-center  text-capitalize">Crea corso</h3>
                    <hr />
                    <div>
                        <form action="/paginaAmministratore" method="POST">
                            <input type="text" name="nome" placeholder="nome" required="required" class="form-control" /><br>
                            <input type="text" name="codice" placeholder="codice corso" required="required" class="form-control" /><br>
                            <select ng-model="prof" class="form-control">  
                                                <option value="" disabled selected hidden>Docente</option>
                                                <% docentiFacoltà.forEach(function(prof){%>
                                                    <option value=<%=prof.matricola%>> <%= prof.nome %>  <%= prof.cognome %></option>
                                                <% })%>
                                        </select><br>
                            <input readonly value="{{prof}}" type="text" name="matricolaP" placeholder="matricola professore" required="required" class="form-control"
                            /><br>
                            <input type="number" name="cfu" placeholder="cfu" required="required" class="form-control" min="3" max="12" /><br>
                            <input type="number" name="anno" placeholder="anno" required="required" class="form-control" min="1" max="3" /><br>
                            <div align="center">
                                <button type="submit" class="btn btn-md btn-info ">OK</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center  text-capitalize">Modifica corso</h3>
                    <hr />
                    <div>
                        <div>
                            <select ng-model="corso" class="form-control">
                                    <option value="" disabled selected hidden>Corso</option>
                                        <% tuoiCorsi.forEach(function(tuoiCorsi){%>
                                            <option value=<%=tuoiCorsi.codice%>> <%= tuoiCorsi.nome %></option>
                                        <% })%>
                                            </select><br>
                            <form action="/paginaAmministratore/update" method="POST">
                                <input readonly type="text" name="codice" placeholder="codice" required="required" class="form-control" value="{{corso}}"
                                /><br>
                                <select ng-model="profM" class="form-control">  
                                                <option value="" disabled selected hidden>Docente</option>
                                                <% docentiFacoltà.forEach(function(prof){%>
                                                    <option value=<%=prof.matricola%>> <%= prof.nome %>  <%= prof.cognome %></option>
                                                <% })%>
                                        </select><br>
                                <input readonly value="{{profM}}" type="text" name="matricolaP" placeholder="matricola professore" required="required" class="form-control"
                                /><br>
                                <input type="number" name="cfu" placeholder="cfu" required="required" class="form-control" min="3" max="12" /><br>
                                <input type="number" name="anno" placeholder="anno" required="required" class="form-control" min="1" max="3" /><br>
                                <div align="center">
                                    <button type="submit" class="btn btn-md btn-info ">OK</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center  text-capitalize">Rimuovi corso </h3>
                    <hr />
                    <div>
                        <form action="/paginaAmministratore/remove" method="POST">
                            <select ng-model="corsoR" class="form-control">
                                    <option value="" disabled selected hidden>Corso</option>
                                            <% tuoiCorsi.forEach(function(tuoiCorsi){%>
                                                <option value=<%=tuoiCorsi.codice%>> <%= tuoiCorsi.nome %></option>
                                            <% })%>
                                    </select>
                            <input type="hidden" name="codice" placeholder="codice" value="{{corsoR}}" /><br>
                            <div align="center">
                                <button type="submit" class="btn btn-md btn-info ">OK</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="4" class="tab-pane">
            <% if (docentiFacoltà.length > 0) { %>
                <h2 class="text-center text-capitalize">Docenti:
                    <%= user.codFacoltà %>
                </h2>
                <hr/>
                <table class="table marginTop table-bordered">
                    <tr>
                        <th class="col-md-2  text-capitalize">Nome:</th>
                        <th class="col-md-2  text-capitalize">Cognome:</th>
                        <th class="col-md-3  text-capitalize">Matricola Docente:</th>
                        <th class="col-md-3  text-capitalize">Email:</th>
                        <th class="col-md-2  text-capitalize">Username:</th>
                    </tr>
                    <% for(var i=0; i < docentiFacoltà.length; i++) { %>
                        <tr>
                            <td>
                                <%= docentiFacoltà[i].nome %>
                            </td>
                            <td>
                                <%= docentiFacoltà[i].cognome %>
                            </td>
                            <td>
                                <%= docentiFacoltà[i].matricola %>
                            </td>
                            <td>
                                <%= docentiFacoltà[i].email %>
                            </td>
                            <td>
                                <%= docentiFacoltà[i].username %>
                            </td>
                        </tr>
                        <% } %>
                </table>
                <% } %>
        </div>
        <div id="5" class="tab-pane">
            <div class="row marginTop">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center  text-capitalize">Registra Nuovo Docente</h2>
                    <hr /><br>
                    <div>
                        <% if (message) { %>
                            <div>
                                <h5 class="text-center text-danger">
                                    <%= message %>
                                </h5>
                            </div>
                            <% } %>
                                <form action="/paginaAmministratore/registrazioneDocente" method="POST">
                                    <div class="col-sm-20">
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label>Nome</label>
                                                <input name="nome" type="text" class="form-control" required="required" placeholder="nome">                                                </div>
                                            <div class="col-sm-6 form-group">
                                                <label>Cognome</label>
                                                <input name="cognome" type="text" class="form-control" required="required" placeholder="cognome">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label>Data Nascita</label>
                                                <input name="dataDiNascita" type="date" class="form-control" required="required" id="dataDiNascita" onclick="controllaData()">
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label>Cellulare</label>
                                                <input name="telefono" type="text" class="form-control" placeholder="telefono">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Username</label>
                                                <input placeholder="nome.cognome" name="username" type="text" class="form-control" required="required">
                                            </div>
                                            <div class="col-sm-6 ">
                                                <label>Password</label>
                                                <input name="password" type="password" class="form-control" ng-model="password" required="required" placeholder="password">
                                            </div>
                                        </div><br>
                                        <div class="form-group">
                                            <label>Corso di Laurea</label>
                                            <input name="codFacoltà" type="text" class="form-control" required="required" readonly value="<%= user.codFacoltà %>">
                                        </div>
                                        <div align="center">
                                            <button type="submit" class="btn btn-lg btn-info" id="inviaR">Invia</button>
                                        </div>
                                    </div>
                                </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="6" class="tab-pane">
            <div class="row marginTop">
                <div class="col-md-7 col-md-offset-2">
                    <h2 class="text-center  text-capitalize">Aggiungi CREDITI LIBERI agli Studenti</h2>
                    <hr/><br>
                    <form action="/paginaAmministratore/aggiuntaCFULiberi" method="POST">
                        <label>Attività Svolta</label>
                        <input type="text" name="attività" class="form-control" required="required"><br>
                        <label>Data</label>
                        <input type="date" name="data" class="form-control" required="required" id="myDateAdmin" onclick="controllaData()"><br>
                        <label>CFU</label>
                        <input type="number" name="cfu" class="form-control" required="required" min="1"><br>
                        <label>Matricola Studente</label>
                        <input type="text" name="matricolaStudente" class="form-control" required="required"><br>
                        <div align="center">
                            <button type="submit" class="btn btn-lg btn-info ">OK</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>