<!DOCTYPE html>
<html lang="it">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8">
    <!-- to be responsive to mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-png" href="img/logo.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Icons -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS personalizzato -->
    <link rel="stylesheet" href="css/style.css">
    <!-- bootstap scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/angular.js"></script>
</head>

<body ng-app="appAdmin" ng-controller="controllerAdmin">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div>
                    <h3 class="text-center">Welcome
                        <%= user.nome %>.</h3>
                    <div>
                        <ul class="list-unstyled">
                            <li>Username:
                                <%= user.username %>
                            </li>
                            <li>Email:
                                <%= user.email %>
                            </li>
                            <li>First Name:
                                <%= user.nome %>
                            </li>
                            <li>Last Name:
                                <%= user.cognome %>
                            </li>
                            <li>Matricola:
                                <%= user.matricola %>
                            </li>
                        </ul>
                    </div>
                    <a href="/logout" class="btn btn-lg btn-danger btn-block">Log Out</a>
                    <button type="button" ng-click="ShowHide()" class="btn btn-lg btn-info btn-block"> MOSTRA CORSI </button>
                </div>
            </div>
        </div>
        <div class="row" ng-show="IsVisible">
            <div class="row">
                <% if (tuoiCorsi.length > 0) { %>
                    <h4 class="text-center">Piano studi
                        <%= user.codFacoltà %>
                    </h4>
                    <div class="row">
                        <h5 class="col-md-3">Nome:</h5>
                        <h5 class="col-md-3">Codice:</h5>
                        <h5 class="col-md-3">Matricola Docente:</h5>
                        <h5 class="col-md-2">CFU:</h5>
                        <h5 class="col-md-1">Anno:</h5>
                    </div>
                    <% for(var i=0; i < tuoiCorsi.length; i++) { %>
                        <div class="col-md-3">
                            <p>
                                <%= tuoiCorsi[i].nome %>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p>
                                <%= tuoiCorsi[i].codice %>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p>
                                <%= tuoiCorsi[i].matricolaP %>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p>
                                <%= tuoiCorsi[i].cfu %>
                            </p>
                        </div>
                        <div class="col-md-1 text-center">
                            <p>
                                <%= tuoiCorsi[i].anno %>
                            </p>
                        </div>
                        <% } %>
                            <% } %>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4 class="text-center">Crea corso</h4>
                    <div>
                        <form action="/paginaAmministratore" method="POST">
                            <input type="text" name="nome" placeholder="nome" required="required" class="form-control" />
                            <input type="text" name="codice" placeholder="codice corso" required="required" class="form-control" />
                            <input type="text" name="matricolaP" placeholder="matricola professore" required="required" class="form-control" />
                            <input type="number" name="cfu" placeholder="cfu" required="required" class="form-control" min="3" max="12" />
                            <input type="number" name="anno" placeholder="anno" required="required" class="form-control" min="1" max="3" />
                            <button type="submit" class="btn btn-lg btn-success btn-block" ng-show="IsVisible">OK</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">Modifica corso
                    </h4>
                    <div>
                        <div>
                            <label>Corso da modificare:</label>
                            <select ng-model="corso">
                                <% tuoiCorsi.forEach(function(tuoiCorsi){%>
                                    <option value=<%=tuoiCorsi.codice%>> <%= tuoiCorsi.nome %></option>
                                <% })%>
                                    </select>
                            <form action="/paginaAmministratore/update" method="POST">
                                <input readonly type="text" name="codice" placeholder="codice" required="required" class="form-control" value="{{corso}}"
                                />
                                <input type="text" name="matricolaP" placeholder="matricola professore" required="required" class="form-control" />
                                <input type="number" name="cfu" placeholder="cfu" required="required" class="form-control" min="3" max="12" />
                                <input type="number" name="anno" placeholder="anno" required="required" class="form-control" min="1" max="3" />
                                <button type="submit" class="btn btn-lg btn-success btn-block" name="updateB" ng-show="IsVisible">OK</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">Rimuovi corso </h4>
                    <div>
                        <label>Corso da rimuovere:</label>
                        <form action="/paginaAmministratore/remove" method="POST">
                            <select ng-model="corsoR">
                                    <% tuoiCorsi.forEach(function(tuoiCorsi){%>
                                        <option value=<%=tuoiCorsi.codice%>> <%= tuoiCorsi.nome %></option>
                                    <% })%>
                            </select>
                            <input type="hidden" name="codice" placeholder="codice" value="{{corsoR}}" />
                            <button type="submit" class="btn btn-lg btn-success btn-block" name="removeB">OK</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>