<!DOCTYPE html>
<html lang="it">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8">
    <!-- to be responsive to mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-png" href="img/logo.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Icons -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS personalizzato -->
    <link rel="stylesheet" href="css/style.css">
    <!-- bootstap scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/angular.js"></script>
</head>

<body ng-app="appDocente" ng-controller="controllerDocente">
    <div class="tabbable tabs-left col-md-2 col-xs-6">
        <ul class="nav nav-tabs">
            <li> <a href="/"><img src="img/logo.png"></a></li>
            <li class="active"><a href="#1" data-toggle="tab">Home</a></li>
            <li><a href="#2" data-toggle="tab">Appelli Inseriti</a></li>
            <li><a href="#3" data-toggle="tab">Gestione Appelli</a></li>
            <li><a href="/logout" class="btn btn-primary btn-md" style="background-color: rgb(156, 202, 230)">Log Out</a></li>
        </ul>
    </div>
    <div class="tab-content col-md-10 col-xs-12">
        <div id="1" class="tab-pane active">
            <div class="col-sm-6 col-md-4 col-md-offset-4" id="backgroundBenvenuto">
                <div>
                    <h2 class="text-center text-capitalize">Benvenuto
                        <%= user.nome %>!</h2>
                    <div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><strong> Nome: </strong>
                                <%= user.nome %>
                            </li>
                            <li class="list-group-item"><strong> Cognome:</strong>
                                <%= user.cognome %>
                            </li>
                            <li class="list-group-item"><strong>Matricola:</strong>
                                <%= user.matricola %>
                            </li>
                            <li class="list-group-item"><strong>Username:</strong>
                                <%= user.username %>
                            </li>
                            <li class="list-group-item"><strong>Email:</strong>
                                <%= user.email %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="2" class="tab-pane">
            <% if (listaAppelli.length > 0) { %>
                <h3 class="text-center">Appelli inseriti
                </h3>
                <table class="table">
                    <tr>
                        <th class="col-md-3">Corso:</th>
                        <th class="col-md-3">Aula:</th>
                        <th class="col-md-3">Data e ora:</th>
                        <th class="col-md-1"> </th>
                        <th class="col-md-1"> </th>
                        <th class="col-md-1"> </th>
                    </tr>
                    <% for(var i=0; i < listaAppelli.length; i++) { %>
                        <tr>
                            <td>
                                <%= listaAppelli[i].idCorso %>
                            </td>
                            <td>
                                <%= listaAppelli[i].aula %>
                            </td>
                            <td>
                                <%= listaAppelli[i].data %>
                                    &nbsp;&nbsp;
                                    <%= listaAppelli[i].ora %>
                            </td>
                            <td>
                                <a data-toggle="tab" href="#3"><button ng-model="idAppello" ng-click="cliccami('<%= listaAppelli[i]._id %>')" class="btn btn-warning btn-sm">Modifica</button></a>
                            </td>
                            <td>

                                <a data-toggle="tab" href="#3"><button ng-model="idAppelloE" ng-click="cliccamiE('<%= listaAppelli[i]._id %>')" class="btn btn-danger btn-sm">Elimina</button></a>
                            </td>
                            <td>
                                <form action="/paginaDocente/appello" method="POST">
                                    <input hidden value="<%= listaAppelli[i]._id %>" name="scegliAppello">
                                    <button type="submit" class="btn btn-info btn-sm">Studenti</button>
                                </form>
                            </td>
                            <td>
                                <form action="/paginaDocente/andamentoEsiti" method="POST">
                                    <input hidden value="<%= listaAppelli[i]._id %>" name="scegliAppello">
                                    <button type="submit" class="btn btn-success btn-sm">Valutazioni</button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                            <% } %>
                </table>
        </div>
        <div id="3" class="tab-pane">
            <div class="marginTop row">
                <div class="col-md-4">
                    <h4 class="text-center">Aggiungi appello</h4>
                    <form action="/paginaDocente/nuovoAppello" method="POST">
                        <select ng-model="idCorso" class="form-control ">  
                                        <option value=" " disabled selected hidden>Corso</option>
                                        <% corsi.forEach(function(corso){%>
                                            <option value=<%=corso.codice%>> <%= corso.nome %> </option>
                                        <% })%>
                                </select>
                        <input readonly value="{{idCorso}}" type="text " name="idCorso" placeholder="Corso" required="required" class="form-control"
                        />
                        <input type="date" name="data" placeholder="data" required="required" class="form-control" />
                        <input type="time" name="ora" placeholder="ora" required="required" class="form-control" />
                        <input type="text" name="aula" placeholder="aula esame" required="required" class="form-control" />
                        <button type="submit" class="btn btn-lg btn-info btn-block ">OK</button>
                    </form>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">Modifica appello</h4>
                    <form action="/paginaDocente/aggiornaAppello" method="POST">
                        <input readonly value="{{idAppello}}" type="text " name="_id" required="required" class="form-control" />
                        <input type="date" name="data" required="required" class="form-control" />
                        <input type="time" name="ora" required="required" class="form-control" />
                        <input type="text" name="aula" required="required" class="form-control" />
                        <button type="submit" class="btn btn-lg btn-info btn-block ">OK</button>
                    </form>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">Elimina appello </h4>
                    <form action="/paginaDocente/eliminaAppello" method="POST">
                        <input readonly value="{{idAppelloE}}" type="text " name="_id" required="required" class="form-control" />
                        <button type="submit" class="btn btn-lg btn-info btn-block ">OK</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>