<!DOCTYPE html>
<html lang="it">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8">
    <!-- to be responsive to mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-png" href="img/logo.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Icons -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS personalizzato -->
    <link rel="stylesheet" href="css/style.css">
    <!-- bootstap scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/script.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/light.js"></script>
</head>

<body ng-app="appStudente" ng-controller="controllerStudente">
    <div class="tabbable tabs-left col-md-2 col-xs-6">
        <ul class="nav nav-tabs">
            <li> <a href="/"><img src="img/logo.png"></a></li>
            <li class="active"><a href="#1" data-toggle="tab">Home</a></li>
            <li><a href="#2" data-toggle="tab">Piano Studi</a></li>
            <li><a href="#3" data-toggle="tab">Gestione Appelli</a></li>
            <li><a href="#4" data-toggle="tab">Carriera</a></li>
            <li><a href="/logout" class="btn btn-primary btn-md" style="background-color: rgb(156, 202, 230)">Log Out</a></li>
        </ul>
    </div>
    <div class="tab-content col-md-10 col-xs-12">
        <div id="1" class="tab-pane active">
            <div class="col-sm-6 col-md-4 col-md-offset-4" id="backgroundBenvenuto">
                <div>
                    <h2 class="text-center text-capitalize">Benvenuto
                        <%= user.nome %>!</h2>
                    <div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><strong> Nome: </strong>
                                <%= user.nome %>
                            </li>
                            <li class="list-group-item"><strong> Cognome:</strong>
                                <%= user.cognome %>
                            </li>
                            <li class="list-group-item"><strong>Matricola:</strong>
                                <%= user.matricola %>
                            </li>
                            <li class="list-group-item"><strong>Username:</strong>
                                <%= user.username %>
                            </li>
                            <li class="list-group-item"><strong>Email:</strong>
                                <%= user.email %>
                            </li>
                            <li class="list-group-item"><strong>Email Universitaria:</strong>
                                <%= user.emailUniversitaria %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="2" class="tab-pane">
            <% if (tuoiCorsi.length > 0) { %>
                <h3 class="text-center">Piano studi
                    <%= user.codFacoltà %>
                </h3>
                <table class="table table-bordered">
                    <tr>
                        <th class="col-md-3">Nome:</th>
                        <th class="col-md-3">Codice:</th>
                        <th class="col-md-3">Matricola Docente:</th>
                        <th class="col-md-3">CFU:</th>
                        <th class="col-md-3">Anno:</th>
                    </tr>
                    <% for(var i=0; i < tuoiCorsi.length; i++) { %>
                        <tr>
                            <td>
                                <%= tuoiCorsi[i].nome %>
                            </td>

                            <td>
                                <%= tuoiCorsi[i].codice %>
                            </td>
                            <td>
                                <%= tuoiCorsi[i].matricolaP %>
                            </td>
                            <td>
                                <%= tuoiCorsi[i].cfu %>
                            </td>
                            <td>
                                <%= tuoiCorsi[i].anno %>
                            </td>
                        </tr>
                        <% } %>
                            <% } %>
                </table>
        </div>

        <div id="3" class="tab-pane">
            <% if (corsiAnnuali.length > 0) { %>
                <h3 class="text-center">Piano studi
                    <%= user.annoCorso %> anno </h3>
                <table class="table table-bordered">
                    <tr>
                        <th class="col-md-3">Nome:</th>
                        <th class="col-md-3">Codice:</th>
                        <th class="col-md-3">Matricola Docente:</th>
                        <th class="col-md-3">CFU:</th>
                    </tr>
                    <% for(var i=0; i < corsiAnnuali.length; i++) { %>
                        <tr>
                            <td>
                                <a style="color:black; cursor: pointer" name="idCorso" ng-click="Cliccami('<%= corsiAnnuali[i].codice %>')" ng-model="codCorso">
                                    <%= corsiAnnuali[i].nome %>
                                </a>
                            </td>
                            <td>
                                <%= corsiAnnuali[i].codice %>
                            </td>
                            <td>
                                <%= corsiAnnuali[i].matricolaP %>
                            </td>
                            <td>
                                <%= corsiAnnuali[i].cfu %>
                            </td>
                            <% } %>
                        </tr>
                </table>
                <form action="/paginaStudente/vediAppelli" method="POST">
                    <div class="row">
                        <h6 class="col-md-4">Clicca su un corso per vedere gli appelli disponibili</h6>
                        <div class="col-md-4">
                            <input required="required" readonly value="{{codCorso}}" name="idCorso" class="form-control" placeholder="codice corso">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-default col-md-5">Vedi Appelli</button>
                        </div>
                    </div>
                </form>
                <form action="/paginaStudente/vediPrenotazioni" method="GET">
                    <div class="row">
                        <h6 class="col-md-8">Vedi gli appelli a cui sei prenotato</h6>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-default col-md-5">Vedi Prenotazioni</button>
                        </div>
                    </div>
                </form>
                <% } %>

        </div>

        <div id="4" class="tab-pane">
            <%if (user.carriera.length > 0){%>
                <h3 class="text-center"> Carriera </h3>
                <table class="table table-bordered">
                    <tr>
                        <th class="col-md-3"> Corso </th>
                        <th class="col-md-3"> Data Esame</th>
                        <th class="col-md-3"> Valutazione </th>
                        <th class="col-md-3"> CFU </th>
                    </tr>
                    <% for(var i=0; i< user.carriera.length; i++){%>
                        <tr>
                            <td>
                                <%=user.carriera[i].codCorso%>
                            </td>
                            <td>
                                <%=user.carriera[i].data%>
                                    <input hidden value="<%=user.carriera[i].data%>" id="data<%=i%>">
                            </td>
                            <td>
                                <%=user.carriera[i].esito%>
                                    <input hidden value="<%=user.carriera[i].esito%>" id="esito<%=i%>">
                            </td>
                            <td>
                                <%=user.carriera[i].cfu%>
                            </td>
                        </tr>
                        <%}%>
                </table>
                <div class="col-md-6">
                    <h6>Progressione CFU:</h6>
                    <%= progressioneCfu %> / 180
                </div>
                <div class="col-md-6 text-center">
                    <h6>Grafico Andamento Voti:</h6>
                    <button type="button" class="btn btn-default" onclick="generaGrafico()">GENERA GRAFICO</button>
                </div>
                <div id="chartdiv" style="width: 100%; height: 400px;"></div>
                <%}%>
        </div>
    </div>
</body>

</html>