<!DOCTYPE html>
<html lang="it">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8">
    <!-- to be responsive to mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-png" href="img/logo.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Icons -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS personalizzato -->
    <link rel="stylesheet" href="css/style.css">
    <!-- bootstap scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/script.js"></script>
</head>

<body ng-app="appStudente" ng-controller="controllerStudente">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div>
                    <h3 class="text-center">Benvenuti
                        <%= user.nome %>.</h3>
                    <div>
                        <ul class="list-unstyled">
                            <li>Username:
                                <%= user.username %>
                            </li>
                            <li>Email:
                                <%= user.email %>
                            </li>
                            <li>Nome:
                                <%= user.nome %>
                            </li>
                            <li>Cognome:
                                <%= user.cognome %>
                            </li>
                            <li>Matricola:
                                <%= user.matricola %>
                            </li>
                            <li>Email Universitaria:
                                <%= user.emailUniversitaria %>
                            </li>
                        </ul>
                    </div>
                    <a href="/logout" class="btn btn-lg btn-danger btn-block">Log Out</a>
                </div>
            </div>
        </div>
        <div class="row">
            <% if (tuoiCorsi.length > 0) { %>
                <h4 class="text-center">Piano studi
                    <%= user.codFacoltà %>
                </h4>
                <div class="row">
                    <h5 class="col-md-3">Nome:</h5>
                    <h5 class="col-md-3">Codice:</h5>
                    <h5 class="col-md-3">Matricola Docente:</h5>
                    <h5 class="col-md-2">CFU:</h5>
                    <h5 class="col-md-1">Anno:</h5>
                </div>
                <% for(var i=0; i < tuoiCorsi.length; i++) { %>
                    <div class="col-md-3">
                        <p>
                            <%= tuoiCorsi[i].nome %>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <%= tuoiCorsi[i].codice %>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <%= tuoiCorsi[i].matricolaP %>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <p>
                            <%= tuoiCorsi[i].cfu %>
                        </p>
                    </div>
                    <div class="col-md-1 text-center">
                        <p>
                            <%= tuoiCorsi[i].anno %>
                        </p>
                    </div>
                    <% } %>
                        <% } %>
        </div>

        <div class="row">
            <% if (corsiAnnuali.length > 0) { %>
                <h4 class="text-center">Piano studi
                    <%= user.annoCorso %> anno </h4>
                <div class="row">
                    <h5 class="col-md-3">Nome:</h5>
                    <h5 class="col-md-3">Codice:</h5>
                    <h5 class="col-md-3">Matricola Docente:</h5>
                    <h5 class="col-md-3">CFU:</h5>
                </div>
                <% for(var i=0; i < corsiAnnuali.length; i++) { %>
                    <div class="col-md-3">
                        <p>
                            <a style="color:black; cursor: pointer" name="idCorso" ng-click="Cliccami('<%= corsiAnnuali[i].codice %>')" ng-model="codCorso">
                                <%= corsiAnnuali[i].nome %>
                            </a>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <%= corsiAnnuali[i].codice %>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <%= corsiAnnuali[i].matricolaP %>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <%= corsiAnnuali[i].cfu %>
                        </p>
                    </div>
                    <% } %>
                        <form action="/paginaStudente/vediAppelli" method="POST">
                            <div class="row">
                                <h6 class="col-md-4">Clicca su un corso per vedere gli appelli disponibili</h6>
                                <div class="col-md-4">
                                    <input required="required" readonly value="{{codCorso}}" name="idCorso" class="form-control" placeholder="codice corso">
                                </div>
                                <button type="submit" class="btn btn-default col-md-4">Vedi Appelli</button>
                            </div>
                        </form>
                        <% } %>
        </div>
        <div class="row">
            <% if (appelliCorso.length > 0) { %>
                <h4 class="text-center">Date disponibili </h4>
                <div class="row">
                    <h5 class="col-md-2"></h5>
                    <h5 class="col-md-2">Corso:</h5>
                    <h5 class="col-md-2">Data:</h5>
                    <h5 class="col-md-2">Ora:</h5>
                    <h5 class="col-md-2">Matricola Docente:</h5>
                    <h5 class="col-md-2">Aula:</h5>
                </div>
                <% for(var i = 0; i < appelliCorso.length; i++) { %>
                    <div class="col-md-2">
                        <form action="/paginaStudente/prenotati" method="POST" onsubmit="confermaPrenotazione()">
                            <button ng-disabled="<%= bool %>" type="submit" class="btn btn-link" title="Prenotati">
                                        <i class="fa fa-plus-circle fa-lg" aria-hidden="true" style="color: red"></i>
                            </button>
                            <input hidden name="idAppello" value="<%= appelliCorso[i]._id %>">
                        </form>
                    </div>
                    <div class="col-md-2">
                        <p>
                            <%= appelliCorso[i].idCorso %>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <p>
                            <%= appelliCorso[i].data %>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <p>
                            <%= appelliCorso[i].ora %>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <p>
                            <%= appelliCorso[i].matricolaP %>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <p>
                            <%= appelliCorso[i].aula %>
                        </p>
                    </div>
                    <% } %>
                        <form action="/paginaStudente/pulisci" method="POST">
                            <button type="submit" class="btn btn-default"> << Indietro </button>
                        </form>
                        <% } %>
        </div>
    </div>
</body>

</html>