<!DOCTYPE html>
<html lang="it">

<head>
    <title>
        Home Docente
    </title>
    <meta charset="UTF-8">
    <!-- to be responsive to mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-png" href="img/logo.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Icons -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS personalizzato -->
    <link rel="stylesheet" href="css/style.css">
    <!-- bootstap scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/angular.js"></script>
</head>

<body ng-app="appDocente" ng-controller="controllerDocente">
    <div class="contact-section">
        <div="container">
            <div class="row-fluid">
                <div class="col-sm-12 col-md-4 col-md-offset-4">
                    <form>
                        <div id="contact-form" class="form-container" align="center">
                            <div class="row">
                                <h2 class="text-center"><span>Benvenuto
                        <strong><%= user.nome %>!</strong></span></h2>
                                <hr />
                                <div class="image" align="center">
                                    <img class="image-circle img-rounded img-responsive" src="img/docente.png" alt="avatar docente">
                                </div>
                                <div class="col-xs-12" align="center">
                                    <ul class="list-group">
                                        <li class="list-group-item "><strong>Username:</strong>
                                            <%= user.username %>
                                        </li>
                                        <li class="list-group-item"><strong>Email:</strong>
                                            <%= user.email %>
                                        </li>
                                        <li class="list-group-item"><strong>Nome:</strong>
                                            <%= user.nome %>
                                        </li>
                                        <li class="list-group-item"><strong>Cognome:</strong>
                                            <%= user.cognome %>
                                        </li>
                                        <li class="list-group-item"><strong>Matricola:</strong>
                                            <%= user.matricola %>
                                        </li>
                                    </ul>
                                </div>
                                <button type="button" ng-click="ShowHide1()" class="btn btn-sm  btn-info"><strong> {{activityC}}Appelli </strong> </button>
                                <button type="button" ng-click="ShowHide2()" class="btn btn-sm  btn-info"><strong> {{activityD}} Docenti </strong></button>
                                <br><br>
                                <a href="/logout" class="btn btn-sm  btn-block">Log Out</a>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="IsVisible1">
                <% if (listaAppelli.length > 0) { %>
                    <h4 class="text-center"><span><strong>Appelli inseriti</strong></span>
                    </h4>
                    <div class="row">
                        <h5 class="col-md-3">Corso:</h5>
                        <h5 class="col-md-3">Aula:</h5>
                        <h5 class="col-md-6">Data e ora:</h5>
                    </div>
                    <% for(var i=0; i < listaAppelli.length; i++) { %>
                        <div class="col-md-3">
                            <p>
                                <%= listaAppelli[i].idCorso %>
                            </p>
                        </div>
                        <div class=" col-md-3">
                            <p>
                                <%= listaAppelli[i].aula %>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p>
                                <%= listaAppelli[i].data %>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p>
                                <%= listaAppelli[i].ora %>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <button ng-model="idAppello" ng-click="cliccami('<%= listaAppelli[i]._id %>')">Modifica</button>
                            <button ng-model="idAppelloE" ng-click="cliccamiE('<%= listaAppelli[i]._id %>')">Elimina</button>
                            <form action="/paginaDocente/appello" method="POST">
                                <input hidden value="<%= listaAppelli[i]._id %>" name="gestisciAppelli">
                                <button type="submit">Vedi iscritti</button>
                            </form>
                        </div>
                        <% } %>
                            <% } %>
            </div>
            <div class="row" ng-show="IsVisible2">
                <div class="col-md-4">
                    <h4 class="text-center">Aggiungi appello</h4>
                    <form action="/paginaDocente/nuovoAppello" method="POST">
                        <select ng-model="idCorso" class="form-control ">  
                                <option value=" " disabled selected hidden>Corso</option>
                                <% corsi.forEach(function(corso){%>
                                    <option value=<%=corso.codice%>> <%= corso.nome %> </option>
                                <% })%>
                        </select>
                        <input readonly value="{{idCorso}}" type="text " name="idCorso" placeholder="Corso" required="required" class="form-control"
                        />
                        <input type="date" name="data" placeholder="data" required="required" class="form-control" />
                        <input type="time" name="ora" placeholder="ora" required="required" class="form-control" />
                        <input type="text" name="aula" placeholder="aula esame" required="required" class="form-control" />
                        <button type="submit" class="btn btn-lg btn-success btn-block ">OK</button>
                    </form>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">Modifica appello</h4>
                    <form action="/paginaDocente/aggiornaAppello" method="POST">
                        <input readonly value="{{idAppello}}" type="text " name="_id" required="required" class="form-control" />
                        <input type="date" name="data" required="required" class="form-control" />
                        <input type="time" name="ora" required="required" class="form-control" />
                        <input type="text" name="aula" required="required" class="form-control" />
                        <button type="submit" class="btn btn-lg btn-success btn-block ">OK</button>
                    </form>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">Elimina appello </h4>
                    <form action="/paginaDocente/eliminaAppello" method="POST">
                        <input readonly value="{{idAppelloE}}" type="text " name="_id" required="required" class="form-control" />
                        <button type="submit" class="btn btn-lg btn-success btn-block ">OK</button>
                    </form>
                </div>
            </div>
    </div>
</body>

</html>