<div class="row" ng-show="IsVisible2">
    <form>
        <div id="contact-form" class="form-container" align="center" data-form-container>
            <div class="row">
                <div class="col-md-12 col-sm-75" align="center">
                    <% if (docentiFacoltà.length > 0) { %>
                        <h3>
                            <class="text-center"><span>Docenti:
                                    <strong><%= user.codFacoltà %></strong></span>
                        </h3>
                        <hr/>
                        <div class="row">
                            <h5 class="col-md-3 text-center"><strong>Nome:</strong></h5>
                            <h5 class="col-md-3 text-center"><strong>Cognome:</strong></h5>
                            <h5 class="col-md-2 text-center"><strong>Matricola Docente:</strong></h5>
                            <h5 class="col-md-2 text-center"><strong>Email:</strong></h5>
                            <h5 class="col-md-2 text-center"><strong>Username:</strong></h5>
                        </div>
                        <% for(var i=0; i < docentiFacoltà.length; i++) { %>
                            <div class="col-md-3">
                                <p>
                                    <%= docentiFacoltà[i].nome %>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p>
                                    <%= docentiFacoltà[i].cognome %>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p>
                                    <%= docentiFacoltà[i].matricola %>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p>
                                    <%= docentiFacoltà[i].email %>
                                </p>
                            </div>
                            <div class="col-md-2 ">
                                <p>
                                    <%= docentiFacoltà[i].username %>
                                </p>
                            </div>
                            <% } %>
                                <% } %>
                </div>

            </div>
            <br>
            <div class="row" align="center">
                <div class="col-md-12  " align="center">
                    <h4 class="text-center"><span><strong>Registra Nuovo Docente</strong></span></h4>
                    <hr />
                    <div>
                        <% if (message) { %>
                            <div>
                                <h5 class="text-center text-danger">
                                    <%= message %>
                                </h5>
                            </div>
                            <% } %>
                                <form action="/paginaAmministratore/registrazioneDocente" method="POST">
                                    <div class="col-md-12 col-sm-75">
                                        <div class="row" align="center">

                                            <div class="col-sm-6 form-group ">

                                                <label>Nome</label>
                                                <input name="nome" type="text" class="form-control" required="required" placeholder="nome">                                                </div>
                                            <div class="col-sm-6 form-group ">
                                                <label>Cognome</label>
                                                <input name="cognome" type="text" class="form-control" required="required" placeholder="cognome">

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label>Username</label>
                                                <input placeholder="nome.cognome" name="username" type="text" class="form-control" required="required">
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label>Password (temporanea)</label>
                                                <input name="password" type="password" class="form-control" required="required" placeholder="password">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label>Data Nascita</label>
                                                <input name="dataDiNascita" type="date" class="form-control" required="required" placeholder="data di nascita">
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label>Cellulare</label>
                                                <input name="telefono" type="text" class="form-control" placeholder="cellulare">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Corso di Laurea</label>
                                            <input name="codFacoltà" type="text" class="form-control" required="required" align="center" readonly value="<%= user.codFacoltà %>"
                                                placeholder="codice Facoltà">
                                        </div>

                                        <br>
                                        <button align: "center" type="submit" class="btn btn-lg btn-info">Invia</button>
                                    </div>
                                </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>